@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-shadow-interactive {
    @apply
      border
      outline-none
      hover:shadow-md
      focus:shadow-md
      border-transparent
      hover:border-[#ffffff1F]
      hover:shadow-[#FFFFFF1F]
      focus:border-[#FFFFFF1F]
      focus:shadow-[#FFFFFF1F]
      hover:bg-transparent;
  }
  
  .shadowed-container {
    @apply 
      border
      border-gray-400/[.08]
      focus:border-gray-400/[.13]
      focus-within:border-gray-400/[.13]

      dark:border-white/5
      dark:focus:border-white/[.13]
      dark:focus-within:border-white/[.13]

      shadow-md
      hover:shadow-lg
      focus:shadow-lg
      focus-within:shadow-lg

      dark:shadow-[#FFFFFF1F]
      dark:hover:shadow-[#FFFFFF1F]
      dark:focus:shadow-[#FFFFFF1F]
      dark:focus-within:shadow-[#FFFFFF1F];
  }

  .btn-outline {
    @apply 
      border
      outline-none

      ease-in-out
      duration-150 
      transition-all

      hover:shadow-md
      focus:shadow-md

      border-gray-400/[.3]
      dark:border-white/[.1]
      
      hover:border-gray-400/[.6]
      focus:border-gray-400/[.6]
      hover:shadow-gray-400/[.4]
      focus:shadow-gray-400/[.4]

      dark:hover:border-white/[.2]
      dark:focus:border-white/[.2]
      dark:hover:shadow-white/[.2]
      dark:focus:shadow-white/[.2];
  }

  .glossy {
    @apply    
      p-8
      w-full
      shadow-md
      rounded-2xl
      ring-gray-100

      bg-gray-300/[.07]
      dark:bg-white/[.007]

      dark:ring-[#ffffff1A]
      dark:shadow-[#ffffff1A]

      ease-in-out
      duration-300
      transition-shadow
      ;
  }
}