@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-shadow-interactive {
    @apply
      border
      outline-none
      hover:shadow-md
      focus:shadow-md
      border-transparent
      hover:border-[#FFFFFF2B]
      hover:shadow-[#FFFFFF2B]
      focus:border-[#FFFFFF2B]
      focus:shadow-[#FFFFFF2B]
      hover:bg-transparent;
  }
  
  .shadowed-container {
    @apply 
      border
      border-gray-400/[.08]
      focus:border-gray-400/[.13]
      focus-within:border-gray-400/[.13]

      dark:border-white/5
      dark:focus:border-white/[.13]
      dark:focus-within:border-white/[.13]

      shadow-md
      hover:shadow-lg
      focus:shadow-lg
      focus-within:shadow-lg

      dark:shadow-[#FFFFFF2B]
      dark:hover:shadow-[#FFFFFF2B]
      dark:focus:shadow-[#FFFFFF2B]
      dark:focus-within:shadow-[#FFFFFF2B];
  }
}